<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center">About us</h1>

        <div class="p-5 mt-5 bg-secondary-theme text-theme-primary">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aut dolore at corporis reprehenderit?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aut dolore at corporis reprehenderit?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aut dolore at corporis reprehenderit?</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme text-white">Back to Home</button>
            </div>

        </div>

    </div>
</section>
