<div class="container">
    <div class="row">        
        <div class="col-md-9">

            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/19672771/pexels-photo-19672771/free-photo-of-interior-design.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center">Featured</small>
                    <small class="bg-light text-info text-center">Views - 100,256</small>
                    <small class="bg-light text-warning text-center">LAST UPDATED - SEP 20, 2021</small>

                    <h1 class="mt-3 mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing.</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus voluptatibus accusamus, corporis voluptatum deleniti nobis eius aliquid sapiente corrupti odit eum. Dolorem aut quod rerum iusto dolore tempora quos! Quo nostrum voluptatibus tenetur sequi blanditiis quod cumque reiciendis animi. At.

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus voluptatibus accusamus, corporis voluptatum deleniti nobis eius aliquid sapiente corrupti odit eum. Dolorem aut quod rerum iusto dolore tempora quos! Quo nostrum voluptatibus tenetur sequi blanditiis quod cumque reiciendis animi. At.

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus voluptatibus accusamus, corporis voluptatum deleniti nobis eius aliquid sapiente corrupti odit eum. Dolorem aut quod rerum iusto dolore tempora quos! Quo nostrum voluptatibus tenetur sequi blanditiis quod cumque reiciendis animi. At.
                    </p>

                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>

        </div>

        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
